.wc-bookings-availability-main-container {
  max-width: 960rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 144rem;
  padding-top: 48rem;
  box-shadow: 0 0 50px 0 hsla(0, 0%, 0%, 0.1);
  padding-left: 40rem;
  padding-right: 40rem;
  padding-bottom: 40rem;
}

.section.is--membership--hero {
  background-color: #b20a10;
  display: flex;
  padding: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.heading--80 {
  text-transform: uppercase !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 80rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
}

.wc-bookings-availability-calendar-day
  .wc-bookings-availability-calendar-day-item
  .wc-bookings-availability-calendar-day-item-title {
  font-size: 14px;
  cursor: default;
  text-align: center;
  background-color: #b20a10;
  border-radius: 100rem;
  color: white;
}
