.wc-bookings-availability-main-container {
  max-width: 1248rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 144rem;
  padding-top: 48rem;
}

.section.is--membership--hero {
  background-color: #b20a10;
  display: flex;
  padding: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
