.tribe-common-l-container.tribe-events-l-container {
  padding: 0rem !important;
  min-width: 100%;
}

.tribe-events-header {
  background-color: #b20a10 !important;
  color: white !important;
  padding: 24rem !important;
  margin-bottom: 64rem !important;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25) !important;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar {
  background-color: transparent !important;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-header__events-bar {
  border-width: 0px !important;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-c-view-selector--tabs
  .tribe-events-c-view-selector__content {
  background: transparent;
  padding: 0rem;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-c-view-selector--tabs
  .tribe-events-c-view-selector__content
  li
  a {
  padding: 12rem 32rem 12rem 32rem !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 12rem !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  margin: 0rem !important;
  border-width: 0px !important;
  border-radius: 0px !important;
  color: white !important;
}

.tribe-events-c-view-selector__list-item-link
  .tribe-events-c-view-selector__list-item-text {
  color: inherit !important;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-c-view-selector--tabs
  .tribe-events-c-view-selector__content
  li {
  padding: 0px;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-common-c-btn.tribe-events-c-search__button {
  display: none;
}

.tribe-events .tribe-events-c-events-bar__search-container {
  background-color: transparent !important;
}

.tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  max-width: 288rem !important;
  height: 48rem !important;
}

.tribe-events .tribe-events-c-search__input-control-icon-svg {
  color: white !important;
}

.tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input::placeholder {
  color: white !important;
}

/* ---- calendar --- */

.tribe-events
  .tribe-events-calendar-month__day--past
  .tribe-events-calendar-month__day-date {
  opacity: 1 !important;
  padding: 10rem !important;
}

.tribe-events .tribe-events-calendar-month__day-date-daynum {
  font-size: 32rem !important;
  line-height: 100% !important;
  color: rgba(178, 10, 16, 0.3) !important;
}

.tribe-events .tribe-events-calendar-month__events {
  flex: 0 !important;
  display: block !important;
}

.tribe-events
  .tribe-events-calendar-month__day--past
  .tribe-events-calendar-month__calendar-event {
  opacity: 1 !important;
  padding: 10rem !important;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__day-cell--desktop {
  justify-content: space-between;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__day:hover {
  background-color: red !important;
  color: white !important;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

#legend_box li {
  padding: 12rem 32rem 12rem 32rem !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 12rem !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  margin: 0rem !important;
  border-width: 0px !important;
  font-family: inherit !important;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h3 {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-header__top-bar {
  width: 100%;
  margin-top: 48rem;
}
